.title {
    text-align: center;
}

.contents {
    text-align: center;
}

.button {
    float: left;
}

table {
    margin: auto;
}

.button {
    display: inline-block;
    border-style: solid;
    color: black;
    background-color: rgb(225, 224, 224);
    border-width:1px;
    border-color: darkgray;
    text-decoration: none;
    padding: 2px;
}